<html>
<head>
    <meta charset="utf-8">
    <title>TWEB for FICT</title>
    <meta name="description" content="TWEB for FICT">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel=-stylesheet" type="text/css" href="{{ full_url_for('staticVendor') }}/bootstrap/dist/css/bootstrap.min.css">
    {% block extracss %}{% endblock %}
    
</head>

<body class="container-fuild">
    {% block content %}<div class="container"></div>{% endblock %}
    {% block extrajs %}{% endblock %}
</body>
</html>