{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if true == authenticateResult %}
        <p>Welcome, {{ username }}.</p>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
    <form action="{{ url_for('auth.login') }}" method="POST" name="loginform">

        <input type="text" name="username" id="username" required>
        <button type="submit">Login!</button>
    </form>
    {% endif %}
</div>
{% endblock %}